.git
.idea

.nyc_output/

node_modules/
nbproject/
.vs*/
*.code-workspace
Thumbs.db
gulpfile.js

test/
travis/
.travis.yml
appveyor.yml
.travis.yaml
appveyor.yaml

tsconfig.json

.eslintrc.json
.eslintrc.js

# npm package files
package-lock.json

example/myInfo.js

library/map/
